body{
  background-color:rgb(64, 63, 63);
  color:white;
}
.starting-menu{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.start-game-title{
  font-size: 75px;
}
.difficulty-page-grid{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 10px;
}
.easy-mode-button,
.medium-mode-button,
.hard-mode-button,
.main-menu-1,
.Player-1,
.Player-2{
  padding:20px;
  font-size:30px;
  margin-left:10px;
  border:none;
  border-radius:20px;
  cursor: pointer;
}
.main-menu-1{
  margin-top:10px;
}
.game-display-grid{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-grid 
{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 15px;
  justify-content:center;
  margin-top:10px;
}
.ox-button 
{
  width: 100px;
  height: 100px;
  font-size: 100px;
  text-align:center;
  line-height: 100px;
}

.result{
  font-size: 30px;
  text-align:center;
}
.lower-three-buttons-grid{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reset-button,
.play-again-button,
.main-menu{
  padding:20px;
  font-size:20px;
  border:none;
  border-radius:20px;
  margin-right:10px;
  cursor: pointer;
}